<nav>
  <ul>
    <li><%= link_to "Strona glowna", "/welcome/index" %></li>
    <li><%= active_link_to "Lista ksiazek", "/books/index"%></li>
    <li><%= link_to "Czlonkowie", "/members/index"%></li>
    <li><%= link_to "Wypozyczenia", "/borrows/index"%></li>
  </ul>
</nav>
<main><h2>Lista ksiazek</h2>
  <p><table class="table-list">
  <thead>
  <tr>
    <th>Tytul</th>
    <th>Autor</th>
    <th>Kategoria</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Lord Of The Rings</td>
    <td>Tolkien</td>
    <td>fantasy</td>
  </tr>
  <tr>
    <td>Harry Potter</td>
    <td>Rowling</td>
    <td>fantasy</td>
  </tr>
  </tbody>
</table>
  <div><p><%= link_to "Dodaj ksiazke", "/books/new", class: "button-add" %></p></div>
</main>













