<nav>
  <ul>
    <li><%= link_to "Strona glowna", "/welcome/index" %></li>
    <li><%= active_link_to "Lista ksiazek", "/books/index"%></li>
    <li><%= link_to "Czlonkowie", "/members/index"%></li>
    <li><%= link_to "Wypozyczenia", "/borrows/index"%></li>
  </ul>
</nav>
<main><h2>Lista ksiazek</h2>
  <p><table class="table-list">

  <thead>
  <tr>
    <th>Tytul</th>
    <th>Akcje</th>
  </tr>
  </thead>
  <tbody>
  <% @books.each do |book| %>
  <tr>
    <td><%= book.title %></td>
    <td><ul class="list-actions">
      <li>
        <%= button_to "/books/#{book.id}", action: 'show',  type: 'button', class: "list-actions-button-details", method: 'get' do
          "Szczegoly"
        end%>
      </li>
      <li>
        <%= button_to edit_book_path(book.id), action: 'edit',  type: 'button', class: "list-actions-button-edit", method: 'get' do
          "Edytuj"
        end%>
      </li>
      <li>
        <%= button_to book_path(book.id), action: 'destroy', method: :delete,  type: 'button', class: "list-actions-button-delete", data: { confirm: "Usunac?"} do
          "Usun"
        end%>
      </li>
    </ul></td>
  </tr>
  <%end%>
  </tbody>
</table>
  <div><p><%= link_to "Dodaj ksiazke", "/books/new", class: "button-add" %></p></div>
</main>













