<nav>
  <ul>
    <li><%= link_to "Strona glowna", "/welcome/index" %></li>
    <li><%= active_link_to "Lista ksiazek", "/books/index"%></li>
    <li><%= link_to "Czlonkowie", "/members/index"%></li>
    <li><%= link_to "Wypozyczenia", "/borrows/index"%></li>
  </ul>
</nav>
<main><h2>Lista ksiazek</h2>
  <p><table class="table-list">

  <thead>
  <tr>
    <th>Tytul</th>
    <th>Szczegoly</th>
  </tr>
  </thead>
  <tbody>
  <% @books.each do |book| %>
  <tr>
    <td><%= book.title %></td>
    <td><%= link_to " pokaz", "/books/#{book.id}"%></td>
  </tr>
  <%end%>
  </tbody>
</table>
  <div><p><%= link_to "Dodaj ksiazke", "/books/new", class: "button-add" %></p></div>
</main>













