<nav>
  <ul>
    <li><%= link_to "Strona glowna", "/welcome/index" %></li>
    <li><%= active_link_to "Lista ksiazek", "/books/index"%></li>
    <li><%= link_to "Czlonkowie", "/members/index"%></li>
    <li><%= link_to "Wypozyczenia", "/borrows/index"%></li>
  </ul>
</nav>
<main><h2>Lista ksiazek</h2>
  <p><table class="table-list">

  <thead>
  <tr>
    <th>Tytul</th>
    <th>Akcje</th>
  </tr>
  </thead>
  <tbody>
  <% @books.each do |book| %>
  <tr>
    <td><%= book.title %></td>
    <td><ul class="list-actions">
      <li>
        <%= link_to "Szczegoly", "/books/#{book.id}"%>
      </li>
      <li>
        <%= link_to "Edytuj", edit_book_path(book.id) %>

      </li>
      <li>
        <%= link_to "Usun", "/books/#{book.id}", method: :delete, data: { confirm: "Usunac?"} %>
      </li>
    </ul></td>
  </tr>
  <%end%>
  </tbody>
</table>
  <div><p><%= link_to "Dodaj ksiazke", "/books/new", class: "button-add" %></p></div>
</main>













