<nav>
  <ul>
    <li><%= link_to "Strona glowna", "/welcome/index" %></li>
    <li><%= active_link_to "Lista ksiazek", "/books/index"%></li>
    <li><%= link_to "Czlonkowie", "/members/index"%></li>
    <li><%= link_to "Wypozyczenia", "/borrows/index"%></li>
  </ul>
</nav>
<main><h2>Nowa ksiazka</h2>

  <%= form_with model: @book do |form| %>
    <div>
      <%= form.label :title %><br>
      <%= form.text_field :title %>
    </div>
    <div>
      <%= form.label :author %><br>
      <%= form.text_field :author %>
    </div>
    <div>
      <%= form.label :category %><br>
      <%= form.text_field :category %>
      <div>
        <%= form.submit "Dodaj"%>
      </div>
    </div>
    <% end %>
  <form class="form">

      <label for="firstName">Tytul:<abbr title="required" aria-label="required">*</abbr></label>
      <input type="text" name="firstName" id="firstName" value="Slepa Plama" disabled>


      <label for="lastName">Autor:<abbr title="required" aria-label="required">*</abbr></label>
      <input type="text" name="lastname" id="lastName" value="Noczkin" disabled>


      <label for="email">Kategoria:<abbr title="required" aria-label="required">*</abbr></label>
      <input type="text" name="email" id="email" value="fantasy" disabled>

    <div class="form-buttons">
      <input type="submit" value="Dodaj" class="form-button-submit"/>
      <%= link_to "Anuluj", "/books/index", class: "form-button-cancel" %>
    </div>
  </form>
  <p></p>
</main>

