<nav>
  <ul>
    <li><%= active_link_to "Strona glowna", "/welcome/index" %></li>
    <li><%= link_to "Lista ksiazek", "/books/index"%></li>
    <li><%= link_to "Czlonkowie", "/members/index"%></li>
    <li><%= link_to "Wypozyczenia", "/borrows/index"%></li>
  </ul>
</nav>
 <main> <h2>Lista ksiazek</h2>
   <p><table class="table-list">
   <thead>
   <tr>
     <th>Tytul</th>
     <th>Autor</th>
     <th>Kategoria</th>
   </tr>
   </thead>
   <tbody>
   <tr>
     <td><%= @book.title %></td>
     <td><%= @book.author %></td>
     <td><%= @book.category %></td>
   </tr>
   </tbody>
 </table>
   <div><p><%= link_to "Wypozycz ksiazke", "/borrows/index", class: "button-add" %></p></div></main>


