<nav>
  <ul>
    <li><%= link_to "Strona glowna", "/welcome/index" %></li>
    <li><%= link_to "Lista ksiazek", "/books/index"%></li>
    <li><%= link_to "Czlonkowie", "/members/index"%></li>
    <li><%= active_link_to "Wypozyczenia", "/borrows/index"%></li>
  </ul>
</nav>
<% if member_signed_in?%>
  <%= current_member.email %>
<main><h2>Lista wypozyczen</h2>
  <p><table class="table-list">
  <thead>
  <tr>
    <th>Id Wypozyczenia</th>
    <th>Id Uzytkownika</th>
    <th>Id ksiazki</th>
    <th>data od</th>
    <th>data do</th>
    <th>czlonek</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>1</td>
    <td>3425</td>
    <td>sd234</td>
    <td>29-01-2020</td>
    <td>29-03-2020</td>
    <td>Jan Kowalski</td>
  </tr>
  <tr>
    <td>2</td>
    <td>1521</td>
    <td>sd145</td>
    <td>03-08-2020</td>
    <td>03-09-2020</td>
    <td>Jan Kowalski</td>
  </tr>
  </tbody>
</table>
  <div><p><%= link_to "Wypozycz ksiazke", "/borrows/new", class: "button-add" %></p></div>
</main>
<%end %>